<div class="row content-middle">
    <!-- start content-middle -->
    <div class="col-md-4">
        <a href="@Url.Action("About", "Academy")">
            <ul class="spinning">
                <li class="live">Uddannelse</li>
                <div class="clear"></div>
            </ul>
            <div class="view view-fifth">
                <img src="~/Images/gympack/pic3.jpg" class="img-responsive" alt="" />
                <div class="mask">
                    <div class="info">Læs Mere</div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-4">
        <a href="@Url.Action("About", "Academy")">
            <ul class="spinning">
                <li class="live">Wing chun</li>
                <div class="clear"></div>
            </ul>
            <div class="view view-fifth">
                <img src="~/Images/gympack/pic2.jpg" class="img-responsive" alt="" />
                <div class="mask">
                    <div class="info">Læs Mere</div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-4">
        <a href="@Url.Action("About", "Academy")">
            <ul class="spinning">
                <li class="live">Escrima</li>
                <div class="clear"></div>
            </ul>
            <div class="view view-fifth">
                <img src="~/Images/gympack/pic1.jpg" class="img-responsive" alt="" />
                <div class="mask">
                    <div class="info">Læs Mere</div>
                </div>
            </div>
        </a>
    </div>
    <div class="clear"></div>
</div>
<!-- end content-middle -->
<div class="row content-middle">
    <!-- start content-middle -->
    <div class="col-md-4" style="padding-top: 80px;">
        <a href="@Url.Action("About", "Academy")">
            <ul class="spinning">
                <li class="live">Anti-Wrestling</li>
                <div class="clear"></div>
            </ul>
            <div class="view view-fifth">
                <img src="~/Images/gympack/pic3.jpg" class="img-responsive" alt="" />
                <div class="mask">
                    <div class="info">Læs Mere</div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-4" style="padding-top: 80px;">
        <a href="@Url.Action("About", "Academy")">
            <ul class="spinning">
                <li class="live">Power Crossfit</li>
                <div class="clear"></div>
            </ul>
            <div class="view view-fifth">
                <img src="~/Images/gympack/pic2.jpg" class="img-responsive" alt="" />
                <div class="mask">
                    <div class="info">Læs Mere</div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-4" style="padding-top: 20px;">
        @Html.Partial("_MembershipPricesBanner")
    </div>
    <div class="clear"></div>
</div>
<!-- end content-middle -->