<div class="container">
    <div class="row section group">
        <div class="col-md-4">
            <h4 class="m_7">Nyhedsbreve Tilmelding</h4>
            <p class="m_8">Nu kan du holde dig opdateret med de seneste nyheder hos MAA ved hjælp af Email nyhedsbreve</p>
            <form class="subscribe">
                <input type="text" value="Insert Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Insert Email';}">
            </form>
            <div class="subscribe1">
                <a href="#">Submit Email<i class="but_arrow"> </i></a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="f-logo">
                <img src="~/Images/gympack/logo.png" alt="" />
            </div>
            <p class="m_9">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis</p>
            <p class="address">Phone : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="m_10">28 88 09 00</span></p>
            <p class="address">Email : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="m_10">sifuabdul@gmail.com</span></p>
        </div>
        <div class="col-md-4">
            <ul class="list">
                <h4 class="m_7">Menu</h4>
                <li><a href="@Url.Action("Index")">Hjem</a></li>
                <li><a href="@Url.Action("About")">Om MAA</a></li>
                <li><a href="@Url.Action("Contact")">Kontakt</a></li>
                <li>
                    <a href="@Url.Action("Timetable")">Tider</a>
                </li>
                <li><a href="@Url.Action("Prices")">Priser</a></li>
            </ul>
            <ul class="list1">
                <h4 class="m_7">Community</h4>
                <li><a href="https://www.facebook.com/pages/Martial-Arts-Academy/910899232258330?fref=ts" target="_blank">Blog</a></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>