@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutAcademy.cshtml";
}
   <!-- start menu -->
<div class="menu" id="menu">
    <div class="container">
        <div class="logo">
            <a href="@Url.Action("Index")"><img src="~/Images/gympack/logo.png" alt="" /></a>
        </div>
        <div class="h_menu4">
            <!-- start h_menu4 -->
            <a class="toggleMenu" href="#">Menu</a>
            <ul class="nav">
                <li><a href="@Url.Action("Index")">Hjem</a></li>
                <li class="active"><a href="@Url.Action("About")">Om MAA</a></li>
                <li><a href="@Url.Action("Contact")">Kontakt</a></li>
                <li>
                    <a href="@Url.Action("Timetable")">Tider</a>
                </li>
                <li><a href="@Url.Action("Prices")">Priser</a></li>
                <li><a href="https://www.facebook.com/pages/Martial-Arts-Academy/910899232258330?fref=ts" target="_blank">Blog</a></li>
                </ul>
            <script type="text/javascript" src="~/Scripts/gympack/nav.js"></script>
        </div><!-- end h_menu4 -->
        <div class="clear"></div>
    </div>
</div>
<!-- end menu -->
<div class="main">
    <div class="about_banner_img"><img src="~/Images/gympack/about_img.jpg" class="img-responsive" alt="" /></div>
    <div class="about_banner_wrap">
        <h1 class="m_11">About Us</h1>
    </div>
    <div class="about-wrapper">
        <div class="container">
            <div class="row about-top">
                <div class="col-md-5">
                    <img src="~/Images/gympack/about_img1.jpg" class="img-responsive" alt="" />
                </div>
                <div class="col-md-7 about-left-text">
                    <h2>Lorem ipsum dolorsit!</h2>
                    <p>aliquam erat volutpat. Ut wisi enim ad minim veniam, quis <br>nostrud exerci tation ullamcorper suscipit lobortis.</p>
                    <h4>ullamcorper - <span class="m_12">Gymsport Responsible</span></h4>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="about_trainer">
            <h3 class="m_2">Our Trainers</h3>
            <div class="row about_box">
                <div class="col-md-4">
                    <div class="box1">
                        <div class="box1_left">
                            <img src="~/Images/gympack/about_img3.jpg" class="img-responsive" alt="" />
                            <div class="desc1">
                                <h3>Lorem Ipsum<br><span class="m_text">Spinning</span></h3>
                                <p>Lorem ipsum dolor sit amet, consectetuer.</p>
                                <div class="coursel_list">
                                    <i class="a_heart"> </i>
                                    <i class="like1"> </i>
                                </div>
                                <div class="coursel_list1">
                                    <i class="a_twt"> </i>
                                    <i class="a_fb"> </i>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="box1_right">
                            <h4>Qualifications</h4>
                            <p>Lorem ipsum dolor consect adipiscing elit, diamnonu nibh euismod dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim </p>
                            <h4>Speciality</h4>
                            <p class="para1">diam nonummy euismod tincidunt ut laoreet dolore magna aliquam volutpat.</p>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box2">
                        <div class="box1_left">
                            <img src="~/Images/gympack/about_img2.jpg" class="img-responsive" alt="" />
                            <div class="desc2">
                                <h3>Lorem Ipsum<br><span class="m_text">Spinning</span></h3>
                                <p>Lorem ipsum dolor sit amet, consectetuer.</p>
                                <div class="coursel_list">
                                    <i class="heart1"> </i>
                                    <i class="like"> </i>
                                </div>
                                <div class="coursel_list1">
                                    <i class="twt"> </i>
                                    <i class="fb"> </i>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="box1_right">
                            <h4 class="right_text">Qualifications</h4>
                            <p class="right_text1">Lorem ipsum dolor consect adipiscing elit, diamnonu nibh euismod dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim </p>
                            <h4 class="right_text">Speciality</h4>
                            <p class="right_text2">diam nonummy euismod tincidunt ut laoreet dolore magna aliquam volutpat.</p>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box1">
                        <div class="box1_left">
                            <img src="~/Images/gympack/about_img4.jpg" class="img-responsive" alt="" />
                            <div class="desc1">
                                <h3>Lorem Ipsum<br><span class="m_text">Spinning</span></h3>
                                <p>Lorem ipsum dolor sit amet, consectetuer.</p>
                                <div class="coursel_list">
                                    <i class="a_heart"> </i>
                                    <i class="like1"> </i>
                                </div>
                                <div class="coursel_list1">
                                    <i class="a_twt"> </i>
                                    <i class="a_fb"> </i>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="box1_right">
                            <h4>Qualifications</h4>
                            <p>Lorem ipsum dolor consect adipiscing elit, diamnonu nibh euismod dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim </p>
                            <h4>Speciality</h4>
                            <p class="para1">diam nonummy euismod tincidunt ut laoreet dolore magna aliquam volutpat.</p>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="row about_box1">
                <div class="col-md-4">
                    <div class="box2">
                        <div class="box1_left">
                            <img src="~/Images/gympack/about_img5.jpg" class="img-responsive" alt="" />
                            <div class="desc2">
                                <h3>Lorem Ipsum<br><span class="m_text">Spinning</span></h3>
                                <p>Lorem ipsum dolor sit amet, consectetuer.</p>
                                <div class="coursel_list">
                                    <i class="heart1"> </i>
                                    <i class="like"> </i>
                                </div>
                                <div class="coursel_list1">
                                    <i class="twt"> </i>
                                    <i class="fb"> </i>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="box1_right">
                            <h4 class="right_text">Qualifications</h4>
                            <p class="right_text1">Lorem ipsum dolor consect adipiscing elit, diamnonu nibh euismod dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim </p>
                            <h4 class="right_text">Speciality</h4>
                            <p class="right_text2">diam nonummy euismod tincidunt ut laoreet dolore magna aliquam volutpat.</p>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box1">
                        <div class="box1_left">
                            <img src="~/Images/gympack/about_img7.jpg" class="img-responsive" alt="" />
                            <div class="desc1">
                                <h3>Lorem Ipsum<br><span class="m_text">Spinning</span></h3>
                                <p>Lorem ipsum dolor sit amet, consectetuer.</p>
                                <div class="coursel_list">
                                    <i class="a_heart"> </i>
                                    <i class="like1"> </i>
                                </div>
                                <div class="coursel_list1">
                                    <i class="a_twt"> </i>
                                    <i class="a_fb"> </i>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="box1_right">
                            <h4>Qualifications</h4>
                            <p>Lorem ipsum dolor consect adipiscing elit, diamnonu nibh euismod dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim </p>
                            <h4>Speciality</h4>
                            <p class="para1">diam nonummy euismod tincidunt ut laoreet dolore magna aliquam volutpat.</p>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box2">
                        <div class="box1_left">
                            <img src="~/Images/gympack/about_img6.jpg" class="img-responsive" alt="" />
                            <div class="desc2">
                                <h3>Lorem Ipsum<br><span class="m_text">Spinning</span></h3>
                                <p>Lorem ipsum dolor sit amet, consectetuer.</p>
                                <div class="coursel_list">
                                    <i class="heart1"> </i>
                                    <i class="like"> </i>
                                </div>
                                <div class="coursel_list1">
                                    <i class="twt"> </i>
                                    <i class="fb"> </i>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="box1_right">
                            <h4 class="right_text">Qualifications</h4>
                            <p class="right_text1">Lorem ipsum dolor consect adipiscing elit, diamnonu nibh euismod dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim </p>
                            <h4 class="right_text">Speciality</h4>
                            <p class="right_text2">diam nonummy euismod tincidunt ut laoreet dolore magna aliquam volutpat.</p>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="testimonial">
        <div class="container">
            <i class="quot"> </i>
            <p>diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendreri</p>
            <p class="ceo">quis nostrud, <span class="ceo1">tation - ullamcorper</span></p>
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript" src="~/Scripts/gympack/jquery.contentcarousel.js"></script>
}